@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background: #F5F6F8;
}

nav {
    padding: 14px 50px;
    background: white;
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

.nav-link {
    color: lightgray;
    font-size: 20px;
}

.nav-link.is-active {
    color: #1F685B;
}