@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background: #F5F6F8;
}

nav {
    padding: 14px 50px;
    background: white;
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

.nav-link {
    color: lightgray;
    font-size: 20px;
}

.nav-link.is-active {
    color: #1F685B;
}

// FORM

button {
    padding: 6px 12px;
    color: white;
    border:1px solid #2e6da4;
    border-radius: 5px;
    background: #337ab7;
    color: white;
}

textarea {
    resize: none;
    padding: 7px;
    border: 1px solid lightgray;
    outline: 0px;
    width: calc(100% - 14px);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.textbox {
    padding: 7px;
    border: 1px solid lightgray;
    outline: 0px;
    width: calc(100% - 14px);
}

.textbox:focus, .dropdown:focus  {
    border-color: gray;
}

.dropdown {
    background: white;
    border: 1px solid lightgray;
    padding: 6.5px 7px;
    outline: 0px;
    width: calc(100% + 1px);
}

.holder:hover {
    z-index: 2;
}

.holder {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.form-row > .holder > span.head {
    margin-bottom: 5px;
    font-size: 12px;
}

.form-row > .holder > *:last-child {
    border-radius: 0px !important;
    margin-left: -1px !important;
}

.form-row > .holder:first-child > *:last-child {
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}

.form-row > .holder:last-child > *:last-child {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

// END FORM